.input-group-text{
    color: var(--bs-gray-500);
    font-weight: 500;
    background-color: var(--bs-gray-100);
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:var(--bs-gray-500);
    opacity: 1; /* Firefox */
}

.input-group  input{
    min-height: 45px;
    height: 6vh;
}

.text1{
    font-weight: 500 !important;
    color: var(--bs-gray-400);
}
